.bc_rich-black {
    background-color: #0d1821ff;
}

.bc_prussian-blue {
    background-color: #1d2d44ff;
}

.bc_paynes-gray {
    background-color: #3e5c76ff;
}

.bc_silver-lake-blue {
    background-color: #748cabff
}

.bc_eggshell {
    background-color: #f0ebd8ff;
}

.c_eggshell {
    color: #f0ebd8ff;
}

a {
    color: inherit;
}

h1 {
    font: inherit;
    margin: 0;
}


hr {
    width: 95%;
    border-width: 0.07rem;
}

.colors {
    width: 20%;
    height: 100dvh;
}

.mp-0 {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100dvh;
}

.main-wrapper {
    width: clamp(20rem, 100vw, 65rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

/* ---Header Styles--- */

.header-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0;
    border-radius: 0.8rem;
    min-width: 20rem;
    box-sizing: border-box;
}

.header-top-logo-span {
    background-image: url(./images/screaming-cropped.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    margin-right: 1.5ch;
}

.header-top-logo {
    height: 5em;
    width: auto;
    display: block;
    border-radius: 100%;
    transition-duration: 0.2s;
}

.header-top-logo:active {
    opacity: 0;
}

.header-top-logo-text {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 4em;
}

/* ---Nav styles--- */

.header-nav {
    display: flex;
    flex-flow: row wrap;
    border-radius: 0.8rem;
    font-size: 1.6em;
    width: 100%;
    margin: 0.3rem auto;
    overflow: hidden;
    box-sizing: border-box;
}

.nav-sub-div {
    display: flex;
    flex: 1 0 10ch;
    border-radius: 0.8rem;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.nav-span {
    display: flex;
    justify-content: center;
    flex: 1 0 10ch;
    text-align: center;
    align-items: stretch;
    padding: 0.2em 0.5ch;
}

.nav-button {
    display: block;
    width: fit-content;
    border-radius: 0.8rem;
    text-align: center;
    transition-duration: 0.1s;
    padding: 0.5em 0.8em;
}

.nav-button:hover {
    background-color: rgba(89, 97, 108, 0.813);
}

.nav-button:active {
    background-color: rgba(43, 71, 110, 0.801);
}

.nav-current.nav-button {
    background-color: rgba(43, 71, 110, 0.801);
}

/* ---Footer Styles--- */

footer {
    display: flex;
    flex-grow: 1;
    justify-self: flex-end;
    align-items: flex-end;
    margin-top: 2em;
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    width: 100dvw;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

span.footer-msg {
    font-style: italic;
    margin-right: 5em;
}

div.footer-credit {
    display: flex;
    border-radius: 0.8rem;
}

a.profile-link {
    text-decoration: none;
    display: flex;
    padding: 0.6em 0.7em;
    border-radius: 0.8rem;
    transition-duration: 0.1s;

}

a.profile-link:hover {
    background-color: rgba(89, 97, 108, 0.886);
}

a.profile-link:active {
    background-color: rgba(43, 71, 110, 0.801);
}

img.profile-pic {
    display: block;
    height: 1.2em;
    width: auto;
    border-radius: 100%;
    margin-right: 0.7ch;
}

/* ---Main Styles--- */

main {
    background-color: #1d2d44ff;
    border-radius: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

img.title-image {
    border-radius: 0.8rem;
    width: 100%;
}

.cat-article {
    padding: 0 1em 1em 1em;
}

.cat-p {
    padding-left: 2em;
    font-size: large;
    font-family: sans-serif;
}

/* ---Form Styles--- */

.form-thoughts_legend {
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
}

.form-thoughts_fieldset {
    text-align: center;
    margin: 2em auto;
    width: clamp(5rem, 80%, 40rem);
    padding: 1.5em 0.2em;
    border-color: #3e5c76ff;
    border-width: 0.6ch;
    border-radius: 0.8rem;
}

.labled-inp {
    margin-bottom: 0.6em;
}

.labled-chk {
    margin: 1em 0;
}

.labled-inp label {
    display: block;
    margin-bottom: 0.6ch;

}

label {
    font-size: 1.2em;
    font-weight: bold;
}

#ta-thoughts {
    resize: none;
    width: 40ch;
}

.form-note {
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 2em;
    font-family: sans-serif;
    font-style: italic;
}

.inp-text,#ta-thoughts {
    background-color: rgb(47, 70, 90);
    color: #f0ebd8ff;
    border: none;
    border-radius: 0.6rem;
    padding: 0.6ch 1.1ch;
    transition-duration: 0.1s;
}

.inp-text:focus,#ta-thoughts:focus {
    outline: none;
    border: none;
    background-color: rgb(60, 89, 114);
}

/* ---Link Styles--- */

.link-container {
    text-align: center;
}

.link-container ul {
    list-style-position: inside;
    font-size: 1.3em;
    padding: 0;
}

/* ---Picture Styles--- */

.image-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 5%;
    padding: 3em;
}

.cat-pic-link {
    display: block;
    border-radius: 100%;
}

.cat-pic-span {
    grid-column: span 2;
    height: fit-content;
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

.cat-pic-bottom-1 {
    grid-column: 2 / span 2;
}

.cat-pic-bottom-2 {
    grid-column: 4 / span 2;
}

.cat-pic {
    max-width: 100%;
    min-width: 0%;
    border-radius: 100%;
    transition-duration: 0.1s;
}

.cat-pic:hover {
    transform: scale(1.02);
    border-radius: 11em;
}
